article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }

audio, canvas, video { display: inline; zoom: 1; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: sans-serif; }

button, input, select, textarea { font-family: sans-serif; }

a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

h2 { font-size: 1.5em; margin: 0.83em 0; }

h3 { font-size: 1.17em; margin: 1em 0; }

h4 { font-size: 1em; margin: 1.33em 0; }

h5 { font-size: 0.83em; margin: 1.67em 0; }

h6 { font-size: 0.75em; margin: 2.33em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: 700; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

mark { background: yellow; color: black; }

pre, code, kbd, samp { font-family: monospace, serif; _font-family: "courier new", monospace; font-size: 1em; }

pre { white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: none; }

small { font-size: 75%; }

sub { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; }

sub { bottom: -0.25em; }

dd { margin: 0 0 0 40px; }

menu, ol, ul { padding: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; }

img { border: 0; -ms-interpolation-mode: bicubic; }

svg:not(:root) { overflow: hidden; }

fieldset { border: 1px solid silver; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; white-space: normal; margin-left: -7px; padding: 0; }

button, input, select, textarea { font-size: 100%; vertical-align: middle; margin: 0; }

button, input { line-height: normal; }

button { cursor: pointer; -webkit-appearance: button; overflow: visible; }

input[type=button], input[type=reset], input[type=submit] { cursor: pointer; -webkit-appearance: button; overflow: visible; }

button[disabled] { cursor: default; }

input[disabled] { cursor: default; }
input[type=checkbox], input[type=radio] { box-sizing: border-box; height: 13px; width: 13px; padding: 0; }
input[type=search] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

body, figure, form { margin: 0; }

p, pre, dl, menu, ol, ul { margin: 1em 0; }

body { font-size: 13px; overflow: hidden; }

#app { width: 572px; height: 406px; position: absolute; top: 50%; left: 50%; display: block; margin-left: -286px; margin-top: -203px; outline: 3px solid hotpink; }

#editor { background: #333333; width: 398px; height: 100%; float: right; }

#sidebar { background: url(../images/bg_sidebar.png); border-right: 1px solid black; width: 173px; height: 100%; float: left; position: relative; }
#sidebar .top-bar { height: 30px; display: block; position: absolute; top: 0; bottom: auto; left: 0; right: 0; border-bottom: 1px solid #e6e6e6; box-shadow: 0 1px 0 white; }
#sidebar #layers { display: block; position: absolute; top: 32px; bottom: 24px; left: 0; right: 0; }
#sidebar .bottom-bar { height: 24px; line-height: 24px; background: url(../images/bg_sidebar_bottom_bar.png); display: block; position: absolute; top: auto; bottom: 0; left: 0; right: 0; padding: 0 10px; }
#sidebar .opacity .number-input { display: inline-block; }

#layers .layer { height: 28px; line-height: 28px; border: 1px solid #e5e5e5; border-bottom-color: #d9d9d9; border-radius: 5px; box-shadow: inset 0 -1px 0 white, inset 0 1px 0 white, inset -1px 0 0 white, inset 1px 0 0 white; margin: 3px 7px; position: relative; }
#layers .layer .preview { width: 5px; display: block; position: absolute; top: 0; bottom: 0; left: 0; right: auto; border-radius: 5px 0 0 5px; }
#layers .layer .visible { width: 30px; height: 28px; display: inline-block; }
#layers .layer .name { display: inline-block; vertical-align: top; font-weight: bold; }
